<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compose</title>
</head>
<body>
    <%- include("partials/header"); -%>
    <h1>Compose</h1>
    <form action="/compose" method="post">
        <h4>Title</h4>
        <textarea name="postTitle" cols="140" rows="1"></textarea>
        <h4>Post</h4>
        <textarea name="postBody" cols="140" rows="8"></textarea>
        <br/>
    <button type="submit" name="submit" style="background-color:rgb(73, 126, 178);color:white">Publish</button>
    </form>
    <%- include("partials/footer"); -%>
</body>
</html>